.Navbar-Admin {
  position: relative;
  display: grid;
  &__Account {
<<<<<<< HEAD
    // position: absolute;
=======
    position: absolute;
>>>>>>> 9ddca220376579a1e0bafd0142627836ea037c73
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    // text-align: center;
    padding: 1% 2% 1% 0;
<<<<<<< HEAD
    background-color: white;
    float: right;
    .icon_Navlink_end{
      padding-left: 10px;
    }
  }
  &__Menu {
    height: calc(100% - 30px);
    width: 20%;
    background-color: #f2eae1;
    display: grid;

    // margin: 20px;
    height: 100%;
    border-radius: 10px;
    position: fixed;
=======
    background-color: silver;
  }
  &__Menu {
    height: 100%;
    position: fixed;
    width: 20%;
    background-color: white;
>>>>>>> 9ddca220376579a1e0bafd0142627836ea037c73
    &__Logo {
      .logo {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        &__animation {
          display: flex;
          width: 40%;
          height: 100%;
          margin-bottom: 40px;
        }
      }
      .logo::before {
        content: "";
        display: block;
        position: absolute;
        border-bottom: 2px solid black;
        height: 10px;
        top: 58px;
        width: 100%;
      }
      .flex-column {
        justify-content: center;
        align-items: center;
        text-align: center;

        .nav-link {
          width: 160px;
          // height: 40px;
          color: black;
        }
        .nav-link:hover {
          color: blue;
        }
        .nav-link:active,
        .nav-link:focus {
          // border: 1px solid red;
          background-color: rgb(248, 193, 44);
        }
      }
    }
  }
  .Logout {
    background-color: #f2eae1 !important;
    position: absolute; // Giúp phần tử thoát khỏi dòng chảy bình thường
    bottom: 0; // Đẩy phần tử xuống cuối container cha
    width: 100%; // Đảm bảo phần Logout nằm toàn bộ theo chiều ngang
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: white;
  }
  .Logout:hover {
    color: blue;
  }
  .Logout:active,
  .Logout:focus {
    // border: 1px solid red;
    background-color: rgb(248, 193, 44);
  }
  .icon_Navlink{
    padding-right: 10px;
  }
  .icon_Navlink::before{
    display: flex;
    width: 20px !important;
    height: 16px !important;
  }
}
