.Container-Create-Product {
  background-color: #dadada;
  padding: 60px 50px;
  width: 80%;
  float: right;
  justify-content: space-between;
  h3 {
    margin-bottom: 9%;
  }
  .Form-Create-Product {
    width: 100%;
    height: 100vh;

    .Image-Des {
      display: flex;
    //   justify-content: space-between;

      .selected-image {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        cursor: pointer;
        
      }
      .Image-form {
        display: flex;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
        text-align: center;
        .icon-image {
          font-size: 50px;
          color: rgb(167, 166, 166);
          cursor: pointer;
        }
        .form-label {
          cursor: pointer;
        }
      }
      .form-des {
        width: 900px;
        // height: 100%;
        margin-left: 30px;
        .input-create-description {
          height: 200px;
        }
      }
    }
    .Form-Name-Price {
      display: flex;
      justify-content: space-between;
      .Form-Name {
        width: 40%;
      }
      .Form-Price {
        width: 40%;
      }
    }
    .Form-Count-Category {
      display: flex;
      justify-content: space-between;
      .Form-Count {
        width: 40%;
      }
      .Form-Category {
        width: 40%;
      }
    }
    .Create-submit {
      float: right;
      background-color: white;
      color: black;
    }
    .Create-submit:hover {
      color: white;
      background-color: red;
    }
    .btn-createProduct {
      background-color: white;
      color: black;
      border: 1px solid white;
      border-radius: 5px;
      width: 10%;
      height: 10%;
      float: right;
    }
    .btn-createProduct:hover {
      background-color: rgb(246, 35, 35);
      color: white;
      border: 1px solid rgb(246, 35, 35);
    }
  }
}
// Createcategory
.btn-createCategory {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 10%;
  height: 10%;
  margin-left: 30%;
}
.btn-createCategory:hover {
  background-color: rgb(246, 35, 35);
  color: white;
  border: 1px solid rgb(246, 35, 35);
}
